body{
    background-image: url("../imge/YingJinQuan2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
img{
    width: 300px;
    height: 200px;
}
ul{
    margin-top: 200px;
    text-align: center;
    display: none;
}
a{
    text-decoration: none;
}
li{
    display: inline;
    list-style-type: none;
}